<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence="/." />
                    <add sequence="/Template" />
                </denyUrlSequences>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <authentication mode="Windows">
            <forms cookieless="UseCookies" loginUrl="login.php" />
        </authentication>
    </system.web>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=localhost;Database=webmain;User ID=root;Password=Fowel Condition" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
